@using BBDTP.Models
@model List<ProductDto>
@{
    ViewBag.Title = "Product";
}
<br />
<a href="~/Product/ProductAdd">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Ürün Ekle</button>
</a>
<table class="table table-bordered ">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Ürün Stok</th>
        <th>Kategori Adı</th>
        <th>Şehir</th>
        <th>Çiftçi</th>
        <th>Bölge</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ProductId</th>
            <td>@item.ProductName</td>
            <td>@item.ProductStock</td>
            <td>@item.CategoryName</td>
            <td>@item.CityName </td>
            <td>@item.FarmName </td>
            <td>@item.RegionName </td>

        </tr>
    }
</table>